In [6]:
# загрузка библиотек
import pandas as pd
import urllib.parse as up
import psycopg2

## 1. Загрузка данных

### 3.1. Таблица заказы - 'orders'

In [7]:
# загрузка данных по продажам
df_orders = pd.read_excel('data/Sample - Superstore.xls', sheet_name='Orders') #index_col='Row ID'
df_orders.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2018-152156,2018-11-08,2018-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2018-152156,2018-11-08,2018-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2018-138688,2018-06-12,2018-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2017-108966,2017-10-11,2017-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2017-108966,2017-10-11,2017-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [8]:
# просмотр структуры данных по продажам
df_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   datetime64[ns]
 3   Ship Date      9994 non-null   datetime64[ns]
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9983 non-null   float64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: datetime64[ns](2), float64(4), int64(2), object(13)
memory usage: 1.6+ MB

In [9]:
# проверка на наличие пропусков
df_orders.isna().sum()

Row ID            0
Order ID          0
Order Date        0
Ship Date         0
Ship Mode         0
Customer ID       0
Customer Name     0
Segment           0
Country           0
City              0
State             0
Postal Code      11
Region            0
Product ID        0
Category          0
Sub-Category      0
Product Name      0
Sales             0
Quantity          0
Discount          0
Profit            0
dtype: int64

Имеется **11** пропусков в данных почтового индекса, атрибут - **'Postal Code'**

In [10]:
# вывод строк с пропущенными значениями почтового индекса
df_orders[df_orders['Postal Code'].isna()][['Country', 'City', 'State', 'Postal Code']]

            Country        City    State  Postal Code
2234  United States  Burlington  Vermont          NaN
5274  United States  Burlington  Vermont          NaN
8798  United States  Burlington  Vermont          NaN
9146  United States  Burlington  Vermont          NaN
9147  United States  Burlington  Vermont          NaN
9148  United States  Burlington  Vermont          NaN
9386  United States  Burlington  Vermont          NaN
9387  United States  Burlington  Vermont          NaN
9388  United States  Burlington  Vermont          NaN
9389  United States  Burlington  Vermont          NaN
9741  United States  Burlington  Vermont          NaN

Значение почтового индекса отсутствует в городе **Burlington** штат **Vermont**

In [11]:
# проверка наличия значений почтового индекса в остальных данных для города Burlington штат Vermont
df_orders.query('(City == "Burlington") & (State == "Vermont")')[['Country', 'City', 'State', 'Postal Code']]

            Country        City    State  Postal Code
2234  United States  Burlington  Vermont          NaN
5274  United States  Burlington  Vermont          NaN
8798  United States  Burlington  Vermont          NaN
9146  United States  Burlington  Vermont          NaN
9147  United States  Burlington  Vermont          NaN
9148  United States  Burlington  Vermont          NaN
9386  United States  Burlington  Vermont          NaN
9387  United States  Burlington  Vermont          NaN
9388  United States  Burlington  Vermont          NaN
9389  United States  Burlington  Vermont          NaN
9741  United States  Burlington  Vermont          NaN

Значения почтового индекса для города Burlington штат Vermont **не найдены**

Согласно данным сайта [ZIP Code Query](https://vt.postcodebase.com/city/BURLINGTON) почтовый индекс города ***Burlington*** штат ***Vermont*** **5401**

In [12]:
# заполнение пропусков в данных почтового индекса
df_orders['Postal Code'] = df_orders['Postal Code'].fillna(5401)

In [13]:
# проверка на наличие пропусков
df_orders.isna().sum()

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

Пропусков в данных **нет**

In [15]:
# проверка на наличие дубликатов
df_orders.duplicated().sum()

0

In [16]:
# проверка на наличие дубликатов
df_orders.iloc[:,1:].duplicated().sum()

1

В данных по продажам присутствует **1 (один)** дубликат

In [17]:
# вывод дубликатов
df_orders[df_orders.iloc[:,1:].duplicated(keep=False)]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
3405,3406,US-2016-150119,2016-04-23,2016-04-27,Standard Class,LB-16795,Laurel Beltran,Home Office,United States,Columbus,...,43229.0,East,FUR-CH-10002965,Furniture,Chairs,Global Leather Highback Executive Chair with P...,281.372,2,0.3,-12.0588
3406,3407,US-2016-150119,2016-04-23,2016-04-27,Standard Class,LB-16795,Laurel Beltran,Home Office,United States,Columbus,...,43229.0,East,FUR-CH-10002965,Furniture,Chairs,Global Leather Highback Executive Chair with P...,281.372,2,0.3,-12.0588

In [18]:
# размерность данных 
df_orders.shape

(9994, 21)

In [19]:
# удаление дубликатов
df_orders = df_orders.drop(index=3405).reset_index(drop=True)
df_orders.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2018-152156,2018-11-08,2018-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2018-152156,2018-11-08,2018-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2018-138688,2018-06-12,2018-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2017-108966,2017-10-11,2017-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2017-108966,2017-10-11,2017-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [20]:
# размерность данных 
df_orders.shape

(9993, 21)

Дубликаты **удалены**

### 3.2. Таблица заказы - 'people'

In [22]:
# загрузка данных по менеджерам
df_people = pd.read_excel('data/Sample - Superstore.xls', sheet_name='People')
df_people.head()

              Person   Region
0      Anna Andreadi     West
1        Chuck Magee     East
2     Kelly Williams  Central
3  Cassandra Brandow    South

### 3.3. Таблица заказы - 'returns'

In [23]:
# загрузка данных по возвратам
df_returns = pd.read_excel('data/Sample - Superstore.xls', sheet_name='Returns')
df_returns.head()

  Returned        Order ID
0      Yes  CA-2016-100762
1      Yes  CA-2016-100762
2      Yes  CA-2016-100762
3      Yes  CA-2016-100762
4      Yes  CA-2016-100867

In [24]:
# проверка на наличие пропусков
df_returns.isna().sum()

Returned    0
Order ID    0
dtype: int64

In [25]:
# проверка на наличие дубликатов
df_returns.duplicated().sum()

504

В данных по возвратам **504** повтора

In [26]:
# размерность данных
df_returns.shape

(800, 2)

In [27]:
# удаление дубликатов
df_returns = df_returns.drop_duplicates().reset_index(drop=True)
df_returns.head()

  Returned        Order ID
0      Yes  CA-2016-100762
1      Yes  CA-2016-100867
2      Yes  CA-2016-102652
3      Yes  CA-2016-103373
4      Yes  CA-2016-103744

In [28]:
# размерность данных
df_returns.shape

(296, 2)

## 2. Подключение к базе данных

In [29]:
# загрузка конфигурации доступа к базе данных в облаке
with open('DATABASE_URL.txt', 'r') as f:
    DATABASE_URL = f.read()

In [30]:
# разбивка на компоненты
url = up.urlparse(DATABASE_URL)

In [31]:
# создание подключения к базе данны
connect = psycopg2.connect(database=url.path[1:],
                           user=url.username,
                           password=url.password,
                           host=url.hostname,
                           port=url.port)

In [32]:
# создание объекта курсора подключения к базе данных
cursor = connect.cursor()

## 3. Создание схемы Stagen - Storage Layer

![solution_architecture](../Module01/images/solution_architecture.jpg)

In [33]:
# удаление схемы 'Stagen' если она существует 
#cursor.execute("DROP SCHEMA stg CASCADE;")
#connect.commit()

In [34]:
# создание схемы 'Stagen' - Storage Layer
cursor.execute("CREATE SCHEMA stg;")
connect.commit()

### 3.1 Создание таблицы заказы - 'Orders'

In [35]:
# удаление таблицы 'orders' если она существует 
cursor.execute("DROP TABLE IF EXISTS stg.orders;")
connect.commit()

In [36]:
# создание таблицы заказы - 'orders'
cursor.execute("CREATE TABLE stg.orders( \
               Row_ID INTEGER PRIMARY KEY GENERATED BY DEFAULT AS IDENTITY, \
               Order_ID VARCHAR(14) NOT NULL, \
               Order_Date DATE NOT NULL, \
               Ship_Date DATE NOT NULL, \
               Ship_Mode VARCHAR(14) NOT NULL, \
               Customer_ID VARCHAR(8) NOT NULL, \
               Customer_Name VARCHAR(22) NOT NULL, \
               Segment VARCHAR(11) NOT NULL, \
               Country VARCHAR(13) NOT NULL, \
               City VARCHAR(17) NOT NULL, \
               State VARCHAR(20) NOT NULL,\
               Postal_Code INTEGER, \
               Region VARCHAR(7) NOT NULL, \
               Product_ID VARCHAR(15) NOT NULL, \
               Category VARCHAR(15) NOT NULL, \
               SubCategory VARCHAR(11) NOT NULL, \
               Product_Name VARCHAR(127) NOT NULL, \
               Sales NUMERIC(9,4) NOT NULL, \
               Quantity INTEGER NOT NULL, \
               Discount NUMERIC(4,2) NOT NULL, \
               Profit NUMERIC(21,16) NOT NULL);")
connect.commit()

### 3.2 Создание таблицы менеджеры - 'People'

In [37]:
# удаление таблицы 'people' если она существует
cursor.execute("DROP TABLE IF EXISTS stg.people;")
connect.commit()

In [38]:
# создание таблицы менеджеры - 'people' 
cursor.execute("CREATE TABLE stg.people( \
                Person VARCHAR(17) NOT NULL PRIMARY KEY, \
                Region VARCHAR(7) NOT NULL);")
connect.commit()

### 3.3 Создание таблицы возвраты -  'Returns'

In [39]:
# удаление таблицы 'returns' если она существует
cursor.execute("DROP TABLE IF EXISTS stg.returns;")
connect.commit()

In [40]:
# создание таблицы возвраты - 'returns' 
cursor.execute("CREATE TABLE stg.returns( \
                Returned VARCHAR(3) NOT NULL, \
                Order_ID VARCHAR(14) NOT NULL PRIMARY KEY);")
connect.commit()

In [41]:
# вывод наименований таблиц схемы 'Stagen'
cursor.execute("SELECT table_name FROM information_schema.tables \
             WHERE table_schema = 'stg';")
cursor.fetchall()

[('orders',), ('people',), ('returns',)]

## 4. Запись данных

### 4.1. Таблица заказы - 'Orders'

In [45]:
# значение атрибутов в таблице 'orders'
cursor.execute("SELECT column_name \
             FROM information_schema.columns \
             WHERE table_name = 'orders' AND table_schema = 'stg';")
columnsname = [_[0] for _ in cursor.fetchall()]
print(columnsname)

['row_id', 'order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_id', 'customer_name', 'segment', 'country', 'city', 'state', 'postal_code', 'region', 'product_id', 'category', 'subcategory', 'product_name', 'sales', 'quantity', 'discount', 'profit']

In [43]:
# значение атрибутов в исходном файле 'Superstore.csv'
df_orders.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [51]:
# данные для записи в таблицу 'orders'
orders = df_orders.iloc[:,1:].values
orders[:5]

array([['CA-2018-152156', Timestamp('2018-11-08 00:00:00'),
        Timestamp('2018-11-11 00:00:00'), 'Second Class', 'CG-12520',
        'Claire Gute', 'Consumer', 'United States', 'Henderson',
        'Kentucky', 42420.0, 'South', 'FUR-BO-10001798', 'Furniture',
        'Bookcases', 'Bush Somerset Collection Bookcase', 261.96, 2, 0.0,
        41.9136],
       ['CA-2018-152156', Timestamp('2018-11-08 00:00:00'),
        Timestamp('2018-11-11 00:00:00'), 'Second Class', 'CG-12520',
        'Claire Gute', 'Consumer', 'United States', 'Henderson',
        'Kentucky', 42420.0, 'South', 'FUR-CH-10000454', 'Furniture',
        'Chairs',
        'Hon Deluxe Fabric Upholstered Stacking Chairs, Rounded Back',
        731.9399999999999, 3, 0.0, 219.58199999999997],
       ['CA-2018-138688', Timestamp('2018-06-12 00:00:00'),
        Timestamp('2018-06-16 00:00:00'), 'Second Class', 'DV-13045',
        'Darrin Van Huff', 'Corporate', 'United States', 'Los Angeles',
        'California', 90036.0, 'West', 'OFF-LA-10000240',
        'Office Supplies', 'Labels',
        'Self-Adhesive Address Labels for Typewriters by Universal',
        14.62, 2, 0.0, 6.8713999999999995],
       ['US-2017-108966', Timestamp('2017-10-11 00:00:00'),
        Timestamp('2017-10-18 00:00:00'), 'Standard Class', 'SO-20335',
        "Sean O'Donnell", 'Consumer', 'United States', 'Fort Lauderdale',
        'Florida', 33311.0, 'South', 'FUR-TA-10000577', 'Furniture',
        'Tables', 'Bretford CR4500 Series Slim Rectangular Table',
        957.5775, 5, 0.45, -383.03100000000006],
       ['US-2017-108966', Timestamp('2017-10-11 00:00:00'),
        Timestamp('2017-10-18 00:00:00'), 'Standard Class', 'SO-20335',
        "Sean O'Donnell", 'Consumer', 'United States', 'Fort Lauderdale',
        'Florida', 33311.0, 'South', 'OFF-ST-10000760',
        'Office Supplies', 'Storage', "Eldon Fold 'N Roll Cart System",
        22.368000000000002, 2, 0.2, 2.516399999999999]], dtype=object)

In [47]:
# задание формата данных даты
cursor.execute("SET datestyle to 'ISO, MDY';")
connect.commit()

In [52]:
# запись данных в таблицу заказы - 'orders'
cursor.executemany("INSERT INTO stg.orders( \
                    Order_ID, Order_Date, Ship_Date, Ship_Mode, \
                    Customer_ID, Customer_Name, Segment, \
                    Country, City, State, Postal_Code, Region, \
                    Product_ID, Category, SubCategory, Product_Name, Sales, Quantity, Discount, Profit) \
                    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, \
                            %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);", orders)
connect.commit()

In [53]:
# проверка записи данных в таблицу 'orders'
cursor.execute("SELECT * FROM stg.orders LIMIT 5;")
rows = cursor.fetchall()
cursor.execute("SELECT column_name, ordinal_position \
                FROM information_schema.columns \
                WHERE table_name = 'orders' AND table_schema = 'stg' \
                ORDER BY ordinal_position;")
columnsname = [_[0] for _ in cursor.fetchall()]
df = pd.DataFrame(rows, columns=columnsname)
df

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,...,postal_code,region,product_id,category,subcategory,product_name,sales,quantity,discount,profit
0,1,CA-2018-152156,2018-11-08,2018-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136000000000000
1,2,CA-2018-152156,2018-11-08,2018-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5819999999999700
2,3,CA-2018-138688,2018-06-12,2018-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8713999999999995
3,4,US-2017-108966,2017-10-11,2017-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310000000000600
4,5,US-2017-108966,2017-10-11,2017-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5163999999999990

In [54]:
# проверка записи данных в таблицу 'orders'
cursor.execute("SELECT count(*) FROM stg.orders;")
print(cursor.fetchall(), df_orders.shape)

[(9993,)] (9993, 21)

Данные в таблицу **'orders'** записаны **успешно**

### 3.2. Таблица заказы - 'People'

In [55]:
# значение атрибутов в таблице 'people'
cursor.execute("SELECT column_name \
             FROM information_schema.columns \
             WHERE table_name = 'people' AND table_schema = 'stg';")
columnsname = [_[0] for _ in cursor.fetchall()]
print(columnsname)

['person', 'region']

In [56]:
# значение атрибутов в исходном файле 'Superstore.csv'
df_people.columns

Index(['Person', 'Region'], dtype='object')

In [58]:
# данные для записи в таблицу 'people'
people = df_people.values
people

array([['Anna Andreadi', 'West'],
       ['Chuck Magee', 'East'],
       ['Kelly Williams', 'Central'],
       ['Cassandra Brandow', 'South']], dtype=object)

In [59]:
# запись данных в таблицу заказы - 'people' 
cursor.executemany("INSERT INTO stg.people( \
                    Person, Region) \
                    VALUES (%s, %s);", people)
connect.commit()

In [60]:
# проверка записи данных в таблицу 'people'
cursor.execute("SELECT * FROM stg.people LIMIT 10;")
rows = cursor.fetchall()
cursor.execute("SELECT column_name, ordinal_position \
                FROM information_schema.columns \
                WHERE table_name = 'people' AND table_schema = 'stg' \
                ORDER BY ordinal_position;")
columnsname = [_[0] for _ in cursor.fetchall()]
df = pd.DataFrame(rows, columns=columnsname)
df

              person   region
0      Anna Andreadi     West
1        Chuck Magee     East
2     Kelly Williams  Central
3  Cassandra Brandow    South

Данные в таблицу **'people'** записаны **успешно**

### 3.3. Таблица заказы - 'Returns'

In [61]:
# значение атрибутов в таблице 'returns'
cursor.execute("SELECT column_name \
             FROM information_schema.columns \
             WHERE table_name = 'returns' AND table_schema = 'stg';")
columnsname = [_[0] for _ in cursor.fetchall()]
print(columnsname)

['returned', 'order_id']

In [62]:
# значение атрибутов в исходном файле 'Superstore.csv'
df_returns.columns

Index(['Returned', 'Order ID'], dtype='object')

In [63]:
# данные для записи в таблицу 'returns'
returns = df_returns.values
returns[:10]

array([['Yes', 'CA-2016-100762'],
       ['Yes', 'CA-2016-100867'],
       ['Yes', 'CA-2016-102652'],
       ['Yes', 'CA-2016-103373'],
       ['Yes', 'CA-2016-103744'],
       ['Yes', 'CA-2016-103940'],
       ['Yes', 'CA-2016-104829'],
       ['Yes', 'CA-2016-105270'],
       ['Yes', 'CA-2016-108609'],
       ['Yes', 'CA-2016-108861']], dtype=object)

In [64]:
# запись данных в таблицу заказы - 'returns' 
cursor.executemany("INSERT INTO stg.returns( \
                    Returned, Order_ID) \
                    VALUES (%s, %s);", returns)
connect.commit()

In [65]:
# проверка записи данных в таблицу 'returns'
cursor.execute("SELECT * FROM stg.returns LIMIT 10;")
rows = cursor.fetchall()
cursor.execute("SELECT column_name, ordinal_position \
                FROM information_schema.columns \
                WHERE table_name = 'returns' AND table_schema = 'stg' \
                ORDER BY ordinal_position;")
columnsname = [_[0] for _ in cursor.fetchall()]
df = pd.DataFrame(rows, columns=columnsname)
df

  returned        order_id
0      Yes  CA-2016-100762
1      Yes  CA-2016-100867
2      Yes  CA-2016-102652
3      Yes  CA-2016-103373
4      Yes  CA-2016-103744
5      Yes  CA-2016-103940
6      Yes  CA-2016-104829
7      Yes  CA-2016-105270
8      Yes  CA-2016-108609
9      Yes  CA-2016-108861

In [66]:
# проверка записи данных в таблицу 'returns'
cursor.execute("SELECT count(*) FROM stg.returns;")
print(cursor.fetchall(), df_returns.shape)

[(296,)] (296, 2)

Данные в таблицу **'returns'** записаны **успешно**

In [67]:
# закрытие подключения к базе данных 'postgres'
connect.close()